# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Logs
*.log

# Local environment variables
.env
!.env.example
